*{
    margin: 0px;
    padding: 0px;
}
/* navigation bar */
.navbar{
    
    background: rgb(19, 19, 54);
    
}
.navbar-brand{
    color: white;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
}
.navbar-brand:hover{
    color: white;
}

.nav-item .nav-link{
    color: white;
    font-size: large;
    font-family: sans-serif;
    
    margin-left: 40%;
}
.nav-item .nav-link:hover{
    color: blueviolet;
}
body{
    background-color:rgb(13, 5, 129);
}
.navbar-toggler{
    background-color: gray;
    padding: 10px 6px;
    border: none;
    outline: none;
  }
  .navbar-toggler span{
    display: block;
    width: 22px;
    border: 1px;
    background: white;
    height: 2px;
  }
  .navbar-toggler span +span{
    margin-top: 4px;
    width: 18px;
    margin-left: 2px;
  }
  .navbar-toggler span +span+span{
    width: 14px;
    margin-left: 4px;
  }
/* navigation bar end */
.heds{
    margin-top: 30px;
}
.heds h3{
    color: white;
    margin: auto;
    display: flex;
   justify-content: center;
   font-family: 'Times New Roman', Times, serif;
  
  }
  .conatiner-fluid{
    margin-left: 12px;
}
  /* table */
  thead{
    font-size: large;
    background-color: rgb(47, 7, 85);  
  border: 2px solid white;
  }
  tr th{
    font-style: italic;
    text-align: center;
    color: white;
    border: 1px solid white;
    font-family: cursive;
  }
  #todo{
    background-color: rgb(226, 226, 245) ;
    border: 1px solid white;
    margin-top: 40px;
    font-family: sans-serif;
   border-radius: 30px;
  }
  #todo tr:hover{
    background-color: slategray;
    color: white;  
  }
  td{
    text-align: center;
    border: 1px solid white;
  }
  
 